@import './contact';
@import './app';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.animation {
    width: 100vw;
    height: 100vh;

    img {
        position: absolute;
        object-fit: cover;
        width: 100vw;
        height: 100%;
        z-index: -1;
    }

    .logo1 {
        position: fixed;
        height: 100px;
        width: 100px;
        top: 0;
        z-index: 2;
        opacity: 1;
    }
}

.main-title {
    position: absolute;
    max-width: 20ch;
    top: 42%;
    left: 50%;
    transform: translate(-30%, -50%);
    font-family: 'Gochi Hand', cursive;
    font-size: 60px;
    color: blanchedalmond;
    text-shadow: 3px 4px 13px #000;
    span {
        padding-left: 15px;
    }
}

@media (max-width: 1175px) {
    .woman {
        display: none;
    }
}

@media (max-width: 900px) {
    .lotus {
        display: none;
    }
}
